* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url("imgs/fundo.jpg")
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

.banner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-local{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background-color: #FFFFFE;
    text-align: justify;
}


#opa{
    width: 120px;
    float: left;
}

#texto-info{
    padding-inline-start: 20%;
}

#lema{
    text-align: center;
}

.Local{
    margin: 0 0 2em;
    text-align: center;
}


.titulo-subPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-video{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.subPrincipal{
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background-color: #FFFFFE;
    text-align: justify;
}

#texto-adjacente{
    padding-inline-start: 20%;
    text-align: left;
    padding-left: 45%;
}

.lista{
    width: 640px;
    margin: 0 auto;
}

#lista-itens{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.video{
    text-align: center;
}

.footer {
    padding-bottom: 5%;
    margin-top: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 37, 39);
    color: white;
}

.footer img{
    width: 100px;
    height: 110px;
    position: absolute;
    margin-left: 40%;
    padding-top: 1%;
}

.footer p{
    position: relative;
    padding-left: 48%;
    padding-top: 3%;
}

.Produtos{
    width: 90%;
    margin: 20px 50px 0px;
    text-align: center;
    padding: 130px 0px 130px;
}

.Produtos li{
    width: 250px;
    height: 250px;
    border: 10px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-radius: 20px 0px 20px 0px;
    border-color:rgb(27, 27, 143); /* cores: topo, direita, inferior, esquerda */

    margin-inline: 5%;

    text-align: center;

    display: inline-block;
    transition: .4s;
}

.Produtos li img{
    width: 100px;
    height: 100px;

    padding-top: 5%;

    vertical-align: top;
}

.Produtos li:hover{
    border-color: darkred;
}

fieldset{
    display:grid;
    margin-block-start: 2%;
    margin-block-end: 2%;
    width: 40%;
}

fieldset label{
    text-align: left;
    padding-top: 3%;
    padding-bottom: 1%;
}

.horario{
    text-align: right;
    padding-right: 1%;
}

.info p {
    text-align: center;
}

.bt-send{
    text-align: center;
}

.bt-send button{
    width: 10%;
    height: 25px;

    border-radius: 20px 20px 20px 20px;
    border-color:rgb(27, 27, 143);
    background-color: blue;

    color: whitesmoke;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    transition: 1s all;
}

.bt-send button:hover{
    color: whitesmoke;
    transform: scale(1.5);
    background-color: darkred;
    border-color:darkred;
}